page-map {
  .nav-home{
    border-bottom: 4px solid #1659bf;
    padding-bottom: 5px;
  }

  .toolbar-title {
    white-space: normal;
  }

  .img-logo{
    display:inline-block;
    margin-top: 10px;
  }

  .title-app {
    font-family: Gothic;
    padding: 12px 0;
    text-align: center;
    margin-left: 50px;
    position: absolute;top: 0;
    height: 100%;
  }

  #map{
    width: 100%;
    height: 100%;
  }

  .btn-info{
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #46b8da;
    box-shadow: 0px 1px 5px grey;
  }

  .div_info1{
    border-radius: 12px !important;
  }

  .div_info2{
    border-radius: 12px !important;
  }
}

.alert-sub-title{
  text-align: center;
}
