.menu-toolbar{
  border-bottom: 4px solid #1659bf;
  padding-bottom: 5px;
}

#menu-left>div{
  background-color: #488aff;
}

#menu-title>div{
  color: #f8f8f8;
}

.load{
  text-align: center;
}

.load-text{
  font-weight: bold;
  color: black;
  font-size: 18px;
}

.alert-md .alert-wrapper{
  border-radius: 10px;
}

.alert-md .alert-title {
  text-align: center;
}

.alert-md .alert-sub-title {
  margin-top: 20px;
}
