page-osc {

  .toolbar-title {
    white-space: normal;
  }
  
  .nav-home{
    border-bottom: 4px solid #1659bf;
    padding-bottom: 5px;
  }

  .img-logo{
    display:inline-block;
    margin-top: 10px;
  }

  .title-app {
    font-family: Gothic;
    padding: 12px 0;
    text-align: center;
    margin-left: 50px;
    position: absolute;top: 0;
    height: 100%;
  }

  .cabecalho{
    margin-top: 80px;
    height: 130px;
  }

  .img-osc{
    overflow: hidden;
    width: 100px;
    height: 100px;
    float: left;
    margin: 15px;
    border-radius: 5px;
  }

  .div-cabecalho{
    padding-top: 20px;
  }

  hr{
    margin-bottom: 20px;
    border-top: 1px solid #1659bf;
  }

  .h2-tilte{
    text-align: center;
    font-size: 30px;
    color: #337cbb;
  }

  .img-base-dados{
    width: 15px;
    float: left;
    margin-right: 8px;
  }

  .img-representante{
     width: 20px;
     float: left;
     margin-right: 3px;
  }

  .span-margin{
    margin-left: 23px;
  }

  .img-base-dados-sub{
    width: 15px;
    float: left;
    margin-right: 8px;
    margin-left: 20px;
  }

  .img-representante-sub{
     width: 20px;
     float: left;
     margin-right: 3px;
     margin-left: 20px;
  }

  .ion-card{
    border-radius: 5px;
    background-color: #f5f5f5;
  }

  .margin-title{
    margin-left: 15px;
  }

  ion-card-title ion-icon{
    float: right;
    margin-right: 10px;
    font-weight: bold;
  }

  ion-card-content{
    background-color: #ffffff;
  }

  .margin-3{
    margin-left: 3px;
  }

  .margin-10{
    margin-left: 10px;
  }

  .h2-tilte-total-rec{
    text-align: center;
    font-size: 20px;
    color: #337cbb;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .h2-tilte-rec{
    font-size: 20px;
    color: #337cbb;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .card-title-md{
    font-size: 1.4rem;
  }

  .card-md{
    margin: 10px;
  }

  .grid {
    padding: 0px;
  }

  [col-1], .col{
    padding: 0px !important;
  }

  [col-1]{
    width: 15px;
    max-width: 20px;
  }

  [col-7]{
        flex: 0 0 50%;
  }

}
