page-indicadores {
  .content-md{
    background-color: #f4f4f4;
  }

  .toolbar-background-md{
    background-color: #488aff;
  }

  .toolbar-title-md{
    color: #f8f8f8;
  }

  ion-card-content ion-card-title{
    text-align: center;
  }

  button ion-icon{
    color: #f8f8f8;
  }

  ion-card-header {
      font-weight: bold;
  }

  ion-icon{
    font-size: 1.5em;
  }

  #info{
    color: #605e5e;
  }
}
